@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7gpw5n');
	src:url('fonts/icomoon.eot?7gpw5n#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?7gpw5n') format('truetype'),
		url('fonts/icomoon.woff?7gpw5n') format('woff'),
		url('fonts/icomoon.svg?7gpw5n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dropup-s:before {
	content: "\e929";
}
.icon-dropdown-s:before {
	content: "\e92a";
}
.icon-dropup:before {
	content: "\e926";
}
.icon-dropdown:before {
	content: "\e927";
}
.icon-logo:before {
	content: "\e928";
}
.icon-happy:before {
	content: "\e923";
}
.icon-sad:before {
	content: "\e924";
}
.icon-yen:before {
	content: "\e925";
}
.icon-check-o:before {
	content: "\e922";
}
.icon-try-o:before {
	content: "\e900";
}
.icon-check:before {
	content: "\e901";
}
.icon-tel-o:before {
	content: "\e902";
}
.icon-info-o:before {
	content: "\e903";
}
.icon-flag-o:before {
	content: "\e904";
}
.icon-user-group1:before {
	content: "\e905";
}
.icon-books-array:before {
	content: "\e906";
}
.icon-notebook1:before {
	content: "\e907";
}
.icon-endorse:before {
	content: "\e908";
}
.icon-gift1:before {
	content: "\e909";
}
.icon-location:before {
	content: "\e90a";
}
.icon-right:before {
	content: "\e90b";
}
.icon-gift:before {
	content: "\e90c";
}
.icon-notebook:before {
	content: "\e90d";
}
.icon-sign:before {
	content: "\e90e";
}
.icon-book-array:before {
	content: "\e90f";
}
.icon-flag:before {
	content: "\e910";
}
.icon-weibo:before {
	content: "\e911";
}
.icon-pengyouquan:before {
	content: "\e912";
}
.icon-qzone:before {
	content: "\e913";
}
.icon-qq:before {
	content: "\e914";
}
.icon-weixin:before {
	content: "\e915";
}
.icon-close:before {
	content: "\e916";
}
.icon-location-o:before {
	content: "\e917";
}
.icon-plus:before {
	content: "\e918";
}
.icon-user:before {
	content: "\e919";
}
.icon-left:before {
	content: "\e91a";
}
.icon-tel:before {
	content: "\e91b";
}
.icon-books:before {
	content: "\e91c";
}
.icon-open-book:before {
	content: "\e91d";
}
.icon-pencil:before {
	content: "\e91e";
}
.icon-smile:before {
	content: "\e91f";
}
.icon-user-group:before {
	content: "\e920";
}
.icon-home:before {
	content: "\e921";
}

